In [17]:
print('5조')
print('주제 : 한국 주식시장에 영향을 미치는 요소들을 파악 후 매매 시기 추천')
print('팀원 : 김연후, 우사랑')

5조
주제 : 한국 주식시장에 영향을 미치는 요소들을 파악 후 매매 시기 추천
팀원 : 김연후, 우사랑

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline
import seaborn as sns

In [31]:
usd = pd.read_csv('USD_KRW.csv')
cny = pd.read_csv('CNY_KRW.csv')
kpi = pd.read_csv('KOSPI.csv')
kdak = pd.read_csv('KOSDAK.csv')
gold =pd.read_csv('GOLD.csv')
sp = pd.read_csv('S&P_500.csv')

In [5]:
cny
type(cny)

pandas.core.frame.DataFrame

In [20]:
usd
type(usd)

pandas.core.frame.DataFrame

In [21]:
kpi
type(kpi)

pandas.core.frame.DataFrame

In [22]:
gold
type(gold)

pandas.core.frame.DataFrame

In [32]:
sp
type(gold)

pandas.core.frame.DataFrame

In [242]:
kdak
type(kdak)

pandas.core.frame.DataFrame

In [24]:
#cny.head()
#cny.tail()
#cny.info()
cny.describe().T
#중국과 한국의 환율 데이터 확인을 위해 head/tail/info/decribe를 사용하였습니다.

      count        mean       std     min     25%     50%     75%     max
종가   1565.0  173.724211  9.546195  160.97  167.37  170.77  176.53  202.28
시가   1565.0  173.700288  9.753977   99.46  167.40  170.77  176.37  202.39
고가   1565.0  174.469393  9.662327  161.68  168.03  171.38  177.20  203.23
저가   1565.0  173.142639  9.492509  160.23  166.82  170.12  175.43  201.49
거래량     0.0         NaN       NaN     NaN     NaN     NaN     NaN     NaN

In [25]:
#usd.head()
#usd.tail()
#usd.info()
usd.describe().T
#미국과 한국의 환율 데이터 확인을 위해 head/tail/info/decribe를 사용하였습니다.

     count unique           top freq
날짜    1565   1565  2022- 12- 30    1
종가    1565   1492      1,117.28    3
시가    1565   1497      1,117.76    3
고가    1565   1480      1,134.80    3
저가    1565   1464      1,116.80    5
거래량    788    744        16.12K    3
변동 %  1565    253        -0.29%   23

In [246]:
#kdak.head()
#kdak.tail()
#kdak.info()
kdak.describe().T
#코스닥 데이터 확인을 위해 head/tail/info/decribe를 사용하였습니다.

     count unique           top freq
날짜    1475   1475  2017- 01- 02    1
종가    1475   1444        808.28    2
시가    1475   1456        863.07    3
고가    1475   1455        878.15    2
저가    1475   1457        651.10    2
거래량   1475    950         1.08B   16
변동 %  1475    513         0.64%   13

In [28]:
#kpi.head()
#kpi.tail()
#kpi.info()
kpi.describe().T
#코스피 데이터 확인을 위해 head/tail/info/decribe를 사용하였습니다.

     count unique           top freq
날짜    1475   1475  2017- 01- 02    1
종가    1475   1464      2,145.12    2
시가    1475   1465      2,729.86    2
고가    1475   1465      2,179.34    2
저가    1475   1459      2,049.76    2
거래량   1475   1339         1.02B    8
변동 %  1475    432         0.07%   14

In [29]:
#gold.head()
#gold.tail()
#gold.info()
gold.describe().T
#금 시세 데이터 확인을 위해 head/tail/info/decribe를 사용하였습니다.

     count unique           top freq
날짜    1550   1550  2017- 01- 03    1
종가    1550   1331      1,814.10    4
시가    1550   1316      1,817.00    4
고가    1550   1353      1,304.80    4
저가    1550   1340      1,285.10    3
거래량   1548   1495       332.61K    3
변동 %  1550    378         0.00%   17

In [36]:
#sp.head()
#sp.tail()
sp.info()
#sp.describe().T
#S&P_500 데이터 확인을 위해 head/tail/info/decribe를 사용하였습니다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1510 entries, 0 to 1509
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1510 non-null   object
 1   종가      1510 non-null   object
 2   시가      1510 non-null   object
 3   고가      1510 non-null   object
 4   저가      1510 non-null   object
 5   거래량     0 non-null      float64
 6   변동 %    1510 non-null   object
dtypes: float64(1), object(6)
memory usage: 82.7+ KB

In [248]:
kdak_columns = kdak.columns
pd.Series(kdak_columns)

0      날짜
1      종가
2      시가
3      고가
4      저가
5     거래량
6    변동 %
dtype: object

In [249]:
cny_columns = cny.columns
pd.Series(cny_columns)

0      날짜
1      종가
2      시가
3      고가
4      저가
5     거래량
6    변동 %
dtype: object

In [37]:
usd_columns = usd.columns
pd.Series(usd_columns)

0      날짜
1      종가
2      시가
3      고가
4      저가
5     거래량
6    변동 %
dtype: object

In [38]:
kpi_columns = kpi.columns
pd.Series(kpi_columns)

0      날짜
1      종가
2      시가
3      고가
4      저가
5     거래량
6    변동 %
dtype: object

In [39]:
gold_columns = gold.columns
pd.Series(gold_columns)

0      날짜
1      종가
2      시가
3      고가
4      저가
5     거래량
6    변동 %
dtype: object

In [40]:
sp_columns = sp.columns
pd.Series(sp_columns)

0      날짜
1      종가
2      시가
3      고가
4      저가
5     거래량
6    변동 %
dtype: object

In [41]:
#index의 값이 한국어로 표기되어 있어 더욱 편리하게 하기 위해
#영어로 변경하였습니다.
col_map = {'날짜' : 'date',
           '종가' : 'close',
           '시가' : 'open',
           '고가' : 'high',
           '저가' : 'low',
           '거래량' : 'volume',
           '변동 %' : 'fluctuations'}

kdak.rename(columns=col_map)

              date   close    open    high     low   volume fluctuations
0     2017- 01- 02  632.04  632.89  633.00  629.54  512.16K        0.10%
1     2017- 01- 03  636.57  633.30  636.65  633.10  622.54K        0.72%
2     2017- 01- 04  639.79  638.73  639.91  636.74  617.47K        0.51%
3     2017- 01- 05  642.48  642.01  642.64  640.87  811.28K        0.42%
4     2017- 01- 06  643.68  643.96  644.17  641.96  758.43K        0.19%
...            ...     ...     ...     ...     ...      ...          ...
1470  2022- 12- 23  691.25  704.93  704.93  691.25    1.11B       -3.32%
1471  2022- 12- 26  694.68  691.94  696.96  686.80  797.71M        0.50%
1472  2022- 12- 27  704.19  697.25  704.21  697.25  901.44M        1.37%
1473  2022- 12- 28  692.37  699.24  699.39  691.01  834.83M       -1.68%
1474  2022- 12- 29  679.29  691.35  693.12  675.80  952.16M       -1.89%

[1475 rows x 7 columns]

In [42]:
kdak.rename(columns=col_map, inplace=True)
kdak

              date   close    open    high     low   volume fluctuations
0     2017- 01- 02  632.04  632.89  633.00  629.54  512.16K        0.10%
1     2017- 01- 03  636.57  633.30  636.65  633.10  622.54K        0.72%
2     2017- 01- 04  639.79  638.73  639.91  636.74  617.47K        0.51%
3     2017- 01- 05  642.48  642.01  642.64  640.87  811.28K        0.42%
4     2017- 01- 06  643.68  643.96  644.17  641.96  758.43K        0.19%
...            ...     ...     ...     ...     ...      ...          ...
1470  2022- 12- 23  691.25  704.93  704.93  691.25    1.11B       -3.32%
1471  2022- 12- 26  694.68  691.94  696.96  686.80  797.71M        0.50%
1472  2022- 12- 27  704.19  697.25  704.21  697.25  901.44M        1.37%
1473  2022- 12- 28  692.37  699.24  699.39  691.01  834.83M       -1.68%
1474  2022- 12- 29  679.29  691.35  693.12  675.80  952.16M       -1.89%

[1475 rows x 7 columns]

In [43]:
#cny.rename(columns=col_map)
cny.rename(columns=col_map, inplace=True)
cny

              date   close    open    high     low  volume fluctuations
0     2022- 12- 30  182.74  181.12  182.99  180.81     NaN        0.94%
1     2022- 12- 29  181.03  182.65  182.74  180.82     NaN       -0.84%
2     2022- 12- 28  182.57  182.79  182.99  181.54     NaN       -0.08%
3     2022- 12- 27  182.72  183.12  183.22  181.68     NaN       -0.12%
4     2022- 12- 26  182.94  183.10  183.49  182.35     NaN       -0.04%
...            ...     ...     ...     ...     ...     ...          ...
1560  2017- 01- 06  173.68  171.54  173.73  171.29     NaN        1.22%
1561  2017- 01- 05  171.58  172.54  173.11  171.43     NaN       -0.52%
1562  2017- 01- 04  172.48  173.36  174.06  172.30     NaN       -0.51%
1563  2017- 01- 03  173.37  173.39  174.67  172.83     NaN        0.01%
1564  2017- 01- 02  173.36  173.78  174.32  173.25     NaN       -0.27%

[1565 rows x 7 columns]

In [45]:
usd.rename(columns=col_map, inplace=True)
usd

              date     close      open      high       low volume fluctuations
0     2022- 12- 30  1,260.92  1,261.24  1,265.34  1,253.26    NaN        0.01%
1     2022- 12- 29  1,260.85  1,274.71  1,275.32  1,259.19    NaN       -1.06%
2     2022- 12- 28  1,274.37  1,272.25  1,276.66  1,265.57    NaN        0.20%
3     2022- 12- 27  1,271.79  1,274.91  1,275.63  1,264.85    NaN       -0.17%
4     2022- 12- 26  1,273.91  1,279.80  1,282.20  1,273.89    NaN       -0.44%
...            ...       ...       ...       ...       ...    ...          ...
1560  2017- 01- 06  1,202.00  1,181.79  1,202.33  1,180.19    NaN        1.68%
1561  2017- 01- 05  1,182.19  1,196.56  1,196.72  1,181.17    NaN       -1.17%
1562  2017- 01- 04  1,196.15  1,206.82  1,210.11  1,194.89    NaN       -0.88%
1563  2017- 01- 03  1,206.82  1,203.93  1,212.81  1,201.39    NaN        0.24%
1564  2017- 01- 02  1,203.93  1,206.85  1,210.70  1,203.19    NaN       -0.28%

[1565 rows x 7 columns]

In [46]:
kpi.rename(columns=col_map, inplace=True)
kpi

,date,close,open,high,low,volume,fluctuations
0,2017- 01- 02,"2,026.16","2,022.23","2,031.79","2,015.68",229.88M,-0.01%
1,2017- 01- 03,"2,043.97","2,034.31","2,044.07","2,028.47",268.13M,0.88%
2,2017- 01- 04,"2,045.64","2,046.29","2,046.29","2,040.61",371.49M,0.08%
3,2017- 01- 05,"2,041.95","2,045.52","2,046.50","2,039.49",541.34M,-0.18%
4,2017- 01- 06,"2,049.12","2,048.11","2,051.84","2,045.66",455.35M,0.35%
...,...,...,...,...,...,...,...
1470,2022- 12- 23,"2,313.69","2,325.86","2,333.08","2,311.90",366.99M,-1.83%
1471,2022- 12- 26,"2,317.14","2,312.54","2,321.92","2,304.20",427.84M,0.15%
1472,2022- 12- 27,"2,332.79","2,327.52","2,335.99","2,321.48",448.50M,0.68%
1473,2022- 12- 28,"2,280.45","2,296.45","2,296.45","2,276.90",405.89M,-2.24%
1474,2022- 12- 29,"2,236.40","2,265.73","2,272.67","2,236.38",361.19M,-1.93%

In [47]:
gold.rename(columns=col_map, inplace=True)
gold

,date,close,open,high,low,volume,fluctuations
0,2017- 01- 03,"1,162.00","1,151.40","1,166.00","1,146.50",229.18K,0.89%
1,2017- 01- 04,"1,165.30","1,159.60","1,168.60","1,156.70",179.88K,0.28%
2,2017- 01- 05,"1,181.30","1,164.60","1,185.90","1,163.60",272.12K,1.37%
3,2017- 01- 06,"1,173.40","1,181.00","1,183.80","1,171.10",226.43K,-0.67%
4,2017- 01- 09,"1,184.90","1,172.90","1,186.40","1,172.20",179.03K,0.98%
...,...,...,...,...,...,...,...
1545,2022- 12- 26,"1,809.70","1,805.80","1,811.95","1,805.55",NaN,0.30%
1546,2022- 12- 27,"1,823.10","1,808.20","1,841.90","1,808.00",159.62K,0.74%
1547,2022- 12- 28,"1,815.80","1,822.40","1,822.80","1,804.20",118.08K,-0.40%
1548,2022- 12- 29,"1,826.00","1,812.30","1,827.30","1,811.20",105.99K,0.56%
1549,2022- 12- 30,"1,826.20","1,821.80","1,832.40","1,819.80",107.50K,0.01%

In [48]:
sp.rename(columns=col_map, inplace=True)
sp

,date,close,open,high,low,volume,fluctuations
0,2017- 01- 03,"2,257.83","2,251.57","2,263.88","2,245.13",NaN,0.85%
1,2017- 01- 04,"2,270.75","2,261.60","2,272.82","2,261.60",NaN,0.57%
2,2017- 01- 05,"2,269.00","2,268.18","2,271.50","2,260.45",NaN,-0.08%
3,2017- 01- 06,"2,276.98","2,271.14","2,282.10","2,264.06",NaN,0.35%
4,2017- 01- 09,"2,268.90","2,273.59","2,275.49","2,268.90",NaN,-0.35%
...,...,...,...,...,...,...,...
1505,2022- 12- 23,"3,844.82","3,815.11","3,845.80","3,797.01",NaN,0.59%
1506,2022- 12- 27,"3,829.25","3,843.34","3,846.65","3,813.22",NaN,-0.40%
1507,2022- 12- 28,"3,783.22","3,829.56","3,848.32","3,780.78",NaN,-1.20%
1508,2022- 12- 29,"3,849.28","3,805.45","3,858.19","3,805.45",NaN,1.75%
1509,2022- 12- 30,"3,839.50","3,829.06","3,839.85","3,800.34",NaN,-0.25%

In [253]:
kdak_index = kdak.index
kdak_index

RangeIndex(start=0, stop=1475, step=1)

In [254]:
cny_index = cny.index
cny_index

RangeIndex(start=0, stop=1565, step=1)

In [53]:
usd_index = usd.index
usd_index

RangeIndex(start=0, stop=1565, step=1)

In [54]:
kpi_index = kpi.index
kpi_index

RangeIndex(start=0, stop=1475, step=1)

In [55]:
gold_index = gold.index
gold_index

RangeIndex(start=0, stop=1550, step=1)

In [56]:
sp_index = sp.index
sp_index

RangeIndex(start=0, stop=1510, step=1)

In [ ]:
#코스닥과 코스피의 경우 1475개, S&P_500의 경우 1510개로
#양이 다른 것을 알 수 있고, 그 이유는 한국 증시와 미국 증시의
#공휴일과 같은 날로 인해 운영하지 않은 날이 존재하기때문입니다.

In [255]:
kdak.isna().sum()

date            0
close           0
open            0
high            0
low             0
volume          0
fluctuations    0
dtype: int64

In [256]:
cny.isna().sum()

date               0
close              0
open               0
high               0
low                0
volume          1565
fluctuations       0
dtype: int64

In [57]:
usd.isna().sum()

date              0
close             0
open              0
high              0
low               0
volume          777
fluctuations      0
dtype: int64

In [58]:
kpi.isna().sum()

date            0
close           0
open            0
high            0
low             0
volume          0
fluctuations    0
dtype: int64

In [59]:
gold.isna().sum()

date            0
close           0
open            0
high            0
low             0
volume          2
fluctuations    0
dtype: int64

In [60]:
sp.isna().sum()

date               0
close              0
open               0
high               0
low                0
volume          1510
fluctuations       0
dtype: int64

In [ ]:
#N/A를 대체할 값 입력하지 않고 삭제하겠습니다.

In [81]:
#cny = cny.drop('volume',axis=1)
#usd = usd.drop('volume',axis=1)
#kpi = kpi.drop('volume',axis=1)
#kdak = kdak.drop('volume', axis=1)
#sp = sp.drop('volume',axis=1)
gold = gold.drop('volume', axis=1)
#결측치 및 volume열 삭제

KeyError: "['volume'] not found in axis"

In [77]:
#cny
#usd
#kpi
#kdak
#sp
gold

              date   close    open    high     low fluctuations
0     2022- 12- 30  182.74  181.12  182.99  180.81        0.94%
1     2022- 12- 29  181.03  182.65  182.74  180.82       -0.84%
2     2022- 12- 28  182.57  182.79  182.99  181.54       -0.08%
3     2022- 12- 27  182.72  183.12  183.22  181.68       -0.12%
4     2022- 12- 26  182.94  183.10  183.49  182.35       -0.04%
...            ...     ...     ...     ...     ...          ...
1560  2017- 01- 06  173.68  171.54  173.73  171.29        1.22%
1561  2017- 01- 05  171.58  172.54  173.11  171.43       -0.52%
1562  2017- 01- 04  172.48  173.36  174.06  172.30       -0.51%
1563  2017- 01- 03  173.37  173.39  174.67  172.83        0.01%
1564  2017- 01- 02  173.36  173.78  174.32  173.25       -0.27%

[1565 rows x 6 columns]

In [87]:
#kdak.isnull().sum().sum()
#usd.isnull().sum().sum()
#cny.isnull().sum().sum()
#kpi.isnull().sum().sum()
#gold.isnull().sum().sum()
sp.isnull().sum().sum()
#N/A 값이 존재하지 않는 것을 알 수 있습니다.

0

In [261]:
kdak.shape

(1475, 6)

In [262]:
cny.shape
#중국 환율과 한국 증시를 비교해본 결과 90개의 열 개수가
#차이나는 것을 확인하였습니다. 
#group mean을 활용하여 갯수를 맞출 예정입니다.

(1565, 6)

In [263]:
cny.date.describe(include=['object']).T

count             1565
unique            1565
top       2022- 12- 30
freq                 1
Name: date, dtype: object

In [264]:
kdak.date.describe(include=['object'])

count             1475
unique            1475
top       2017- 01- 02
freq                 1
Name: date, dtype: object

In [265]:
cny.select_dtypes(include=['float64']).nunique()

close    1127
open     1145
high     1123
low      1094
dtype: int64

In [266]:
kdak.select_dtypes(include=['object']).nunique()

date            1475
close           1444
open            1456
high            1455
low             1457
fluctuations     513
dtype: int64

In [267]:
cny.dtypes

date             object
close           float64
open            float64
high            float64
low             float64
fluctuations     object
dtype: object

In [269]:
kdak.dtypes

date            object
close           object
open            object
high            object
low             object
fluctuations    object
dtype: object

In [270]:
kdak1 = kdak[['date','close','open','fluctuations']]
kdak1

              date   close    open fluctuations
0     2017- 01- 02  632.04  632.89        0.10%
1     2017- 01- 03  636.57  633.30        0.72%
2     2017- 01- 04  639.79  638.73        0.51%
3     2017- 01- 05  642.48  642.01        0.42%
4     2017- 01- 06  643.68  643.96        0.19%
...            ...     ...     ...          ...
1470  2022- 12- 23  691.25  704.93       -3.32%
1471  2022- 12- 26  694.68  691.94        0.50%
1472  2022- 12- 27  704.19  697.25        1.37%
1473  2022- 12- 28  692.37  699.24       -1.68%
1474  2022- 12- 29  679.29  691.35       -1.89%

[1475 rows x 4 columns]

In [272]:
cny1 = cny[['date','close','open','fluctuations']]
cny1

              date   close    open fluctuations
0     2022- 12- 30  182.74  181.12        0.94%
1     2022- 12- 29  181.03  182.65       -0.84%
2     2022- 12- 28  182.57  182.79       -0.08%
3     2022- 12- 27  182.72  183.12       -0.12%
4     2022- 12- 26  182.94  183.10       -0.04%
...            ...     ...     ...          ...
1560  2017- 01- 06  173.68  171.54        1.22%
1561  2017- 01- 05  171.58  172.54       -0.52%
1562  2017- 01- 04  172.48  173.36       -0.51%
1563  2017- 01- 03  173.37  173.39        0.01%
1564  2017- 01- 02  173.36  173.78       -0.27%

[1565 rows x 4 columns]

In [274]:
(
    kdak[['date','close','open','fluctuations']]
    .sort_values('fluctuations',ascending=False)
)

              date     close      open fluctuations
787   2020- 03- 20    467.75    443.88        9.20%
789   2020- 03- 24    480.40    457.21        8.26%
845   2020- 06- 16    735.38    716.60        6.09%
790   2020- 03- 25    505.68    496.32        5.26%
447   2018- 11- 02    690.65    666.59        5.05%
...            ...       ...       ...          ...
511   2019- 02- 08    728.74    726.40       -0.01%
757   2020- 02- 07    672.63    673.11       -0.01%
268   2018- 02- 06    858.17    821.24       -0.01%
863   2020- 07- 10    772.81    773.75       -0.01%
1133  2021- 08- 11  1,051.92  1,050.48       -0.01%

[1475 rows x 4 columns]

In [275]:
(
    cny[['date','close','open','fluctuations']]
    .sort_values('fluctuations', ascending=False)
)
#['date','closing_price','opening_price','fluctuations']중 fluctuations열을 기준으로 내림차순 정렬

              date   close    open fluctuations
729   2020- 03- 16  176.29  172.87        1.97%
1280  2018- 02- 02  172.97  170.05        1.75%
1552  2017- 01- 18  172.30  169.36        1.74%
78    2022- 09- 13  201.35  198.55        1.49%
724   2020- 03- 23  179.49  176.94        1.49%
...            ...     ...     ...          ...
808   2019- 11- 26  166.81  166.83       -0.01%
1010  2019- 02- 15  166.31  166.42       -0.01%
1359  2017- 10- 16  171.22  171.30       -0.01%
1399  2017- 08- 21  170.84  170.88       -0.01%
183   2022- 04- 19  193.86  194.04       -0.01%

[1565 rows x 4 columns]

In [304]:
(
    cny[['date','close','open','fluctuations']]
    .sort_values('fluctuations', ascending=False)
    .head(10)
)
#fluctuations열 내림차순 중 중복값은 제거

              date   close    open fluctuations
729   2020- 03- 16  176.29  172.87        1.97%
1280  2018- 02- 02  172.97  170.05        1.75%
1552  2017- 01- 18  172.30  169.36        1.74%
78    2022- 09- 13  201.35  198.55        1.49%
724   2020- 03- 23  179.49  176.94        1.49%
1389  2017- 09- 04  173.54  171.02        1.48%
402   2021- 06- 16  177.05  174.52        1.47%
11    2022- 12- 15  189.01  186.44        1.43%
19    2022- 12- 05  187.48  185.08        1.41%
66    2022- 09- 29  200.55  197.79        1.40%

In [303]:
(
    kdak[['date','close','open','fluctuations']]
    .sort_values('fluctuations', ascending=False)
    .drop_duplicates(subset='fluctuations')
    .head(10)
)
#fluctuations열 내림차순 중 중복값은 제거

              date   close    open fluctuations
787   2020- 03- 20  467.75  443.88        9.20%
789   2020- 03- 24  480.40  457.21        8.26%
845   2020- 06- 16  735.38  716.60        6.09%
790   2020- 03- 25  505.68  496.32        5.26%
447   2018- 11- 02  690.65  666.59        5.05%
1345  2022- 06- 24  750.30  719.47        5.03%
794   2020- 03- 31  569.07  551.48        4.97%
1258  2022- 02- 16  878.15  857.54        4.55%
798   2020- 04- 06  597.21  579.25        4.22%
1420  2022- 10- 14  678.24  665.17        4.09%

In [277]:
cny.dtypes.value_counts()

float64    4
object     2
dtype: int64

In [278]:
kdak.dtypes.value_counts()

object    6
dtype: int64

In [279]:
cny.nunique()

date            1565
close           1127
open            1145
high            1123
low             1094
fluctuations     236
dtype: int64

In [280]:
kdak.nunique()

date            1475
close           1444
open            1456
high            1455
low             1457
fluctuations     513
dtype: int64